@charset "utf-8";
/* CSS Document */
body {
  /* Location of the image */
  background-image: url(../images/stadium.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  
  font-family: Tahoma, Geneva, sans-serif;
  
}
.imagen	{
	position: absolute; 
	margin-left: 450px;
	top: 50px;
}

footer {
	position: fixed; 
	bottom: 0px;	
}
h1 {
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em
}

table {
	font-size:11px;
}

nav {
	color:#FFF;
}

nav: form {
	position: relative;
	top: 50px;
	padding-top: 50px;
}
